name: Build and analyze

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      # ----- 1) SCAN SONARCLOUD -----
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io

      # ----- 2) FRONTEND: BUILD -----
      - name: Install frontend dependencies
        working-directory: ./todo.frontend
        run: npm install

      - name: Build frontend
        working-directory: ./todo.frontend
        run: npm run build

      # ----- 3) BACKEND: RESTAURAR dependencias -----
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore backend
        working-directory: ./ToDo.Api
        run: dotnet restore

      - name: Build backend
        working-directory: ./ToDo.Api
        run: dotnet build --no-restore --configuration Release
